/* StackedBarChart.css */
.chart-container {
  width: 300px; /* 너비를 줄임 */
  height: 300px; /* 높이를 줄임 */
  margin: 0 auto; /* 가운데 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-canvas {
  width: 100%;
  height: 100%;
}
