.focus-card {
    position: relative;
    text-align: left;
}

.focus-card h3 {
    margin: 10px auto 5px auto;
}
.focus-card p {
    text-align: right;
    margin: -30px 0 0 0;
}
.focus-card-profile {
    width: 100%;
    border-radius: 8px;
}

.focus-card-platform-logo-div {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 10px;
    right: 10px;
    width: 40%;
    height: 40px;
    z-index: 30;
}

.focus-card-platform-logo {
    top: 10px;
    width: 40px;
    height: 40px;
    padding: 4px;
    z-index: 15;
}