.main-grid {
  display: flex;
  flex-wrap: wrap;
}

.custom-col-0 {
  order: 1;
}

.custom-col-1 {
  order: 2;
}

.custom-col-2 {
  order: 3;
}

.custom-col-3 {
  order: 5;
}

.custom-col-4 {
  order: 4;
}

.custom-col-5 {
  order: 6;
}

/* 모든 카드의 동일한 높이를 유지 */
.custom-col {
  display: flex;
  justify-content: center;
}

.ant-card {
  width: 100%;
  height: 100%;
}
