/* WebtoonList.css */
.webtoon-list-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.title-container {
  margin-top: 35px;
  text-align: left;
  padding-right: 20px;
}

.title-container > h1 {
  margin: 10px 0;
}

.cards-container {
  flex-basis: 80%;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}
