.title-with-tabs {
  padding: 5px 20px 20px 20px;
  text-align: center;
  background-color: #F9FAFB;
  border-radius: 20px;
}

.title-with-tabs h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.custom-tabs .ant-tabs-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.custom-tabs .ant-tabs-tab {
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 16px;
  margin-right: 8px;
}

.custom-tabs .ant-tabs-tab-active {
  background-color: #f0f0f0; /* 선택된 탭 배경 */
  border-radius: 20px;
}

.custom-tabs .ant-tabs-tab-btn {
  font-weight: bold;
}

.custom-tabs .ant-tabs-tab:hover {
  color: #1890ff;
}

.custom-tabs .ant-tabs-ink-bar {
  display: none; /* 기본 하단 바 제거 */
}
