.byAge-interest-chart {
    position: relative;
    width: 30%;
    height: 150px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #FFF;
    z-index: 1;
}

.byGender-interest-chart-name {
    position: absolute;
    top: 19px;
    left: 22px;
}





