.footer-style {
    display: flex;
    justify-content: space-between;
    text-align: left;
    background-color: #44A0E3;
    color: #fff;
    padding: 10px 58px 10px 58px;
    gap: 10px

}
.footer-company-info {

}

.footer-translate {
    display: flex;
    flex-direction: row;
}