.header-style {
    width: 100%;
    background-color: #44A0E3;
    padding: 0 58px;
}

.header-content {
    display: flex;
    width: 65%;
    height: 64px;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 50;
}

.header-menu {
    background-color: #44A0E3;
    padding: 0;
    font-size: 24px;
    font-family: "Nanum Gothic", serif;
}

.ant-menu-horizontal .ant-menu-item a {
    color: white;
}

.ant-menu-item-selected {
    background-color: #535bf2;
}

.header-logo {
    color: #fff;
    font-size: 24px;
    padding: 10px;
}
.mypage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.mypage-avatar {
    width: 50px;
    height: 50px;
}