.page-container {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.tab {
  display: inline-block; /* 탭들을 한 줄에 나열 */
  width: 150px; /* 탭 너비를 설정 */
  text-align: center;
  padding: 5px 0; /* 탭의 위아래 패딩 */
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
  border-bottom: 2px solid transparent; /* 기본 밑줄 없음 */
}

/* 활성화된 탭에 적용되는 스타일 */
.tab.active {
  background-color: gray;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  margin-top: 50px;
}

.grid-item {
  background-color: #8d6e63;
  width: 200px;
  height: 200px;
  position: relative;
}

.grid-item::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.grid-item > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
