.ip-detail-container {
    max-width: 1200px;;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ip-detail-info-background {
    width: 70%;
    background-color: #F9FAFB;
    margin: 0 auto;
}

.ip-detail-info-box {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #EFEEF6;
    margin: 0 auto 10px auto;
}

.ip-detail-info-box-logo {
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    width: 160px;
    height: 50px;
    padding: 0;
}

.ip-detail-info-box-logo img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.ip-detail-info-box-logo p {
    position: absolute;
    font-size: 10px;
    top: -33px;
}

.ip-detail-info-box-header {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    font-weight: 500;
    padding: 30px;
    width: 93%;
    height: 100px;
}

.ip-detail-info-box-header .name-and-like {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
}

.ip-detail-info-box-banner {
    position: relative;
    width: 80%;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    padding: 5px;
    margin: 0 auto;
}

.ip-detail-info-box-banner img {
    border-radius: 20px;
    width: 100%;
}

.ip-detail-info-box-chart {
    display: flex;
    width: 82%;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    margin: 1px auto;
}
