.google-login {
    width: 280px;
    position: relative;
}

.google-logo {
    position: absolute;
    width: 18px;
    top: 13px;
    left: 13px;
}
.google-login-btn {
    background-color: #efefef;
    width: 280px;
    height: 45px;
    border-radius: 30px;
    border: 4px;
    margin-bottom: 5px;
    color: black;
}