

.comparison-info-card {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 40px;
    width: 60%;
    margin: 15px auto;
    padding: 0 10px;
}

.comparison-info-card:hover {
    box-shadow: 2px 2px 2px 2px rgb(0,0,0, 20%);
}

.comparison-info-header {
    text-align: center;
    padding-left: 20px;
}

.comparison-info-header > h2{
    margin-bottom: 0;
}

.comparison-detail-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
}

.comparison-detail-body-thumbnail {
    padding-right: 30px;
}

.comparison-details-rating-section {
    width: 60%;
}

.comparison-details-webtoon-info,
.comparison-details-ott-info {
    background-color: lightgrey;
    border-radius: 10px;
    margin: 10px;
}


.comparison-details-webtoon-info > h3,
.comparison-details-ott-info > h3{
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    margin: 10px auto;
}

.comparison-details-webtoon-info > h5,
.comparison-details-ott-info > h5 {
    margin: 0 auto;
    text-align: left;
    padding-left: 10px;
}

.compare-ott-progress-bar-container,
.comparison-webtoon-progress-bar-container {
    padding: 20px;
}