.virtual-casting-container {
    padding: 20px;
}


.virtual-casting-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 70%;
    background-color: #f9f9f9;
    margin: 20px auto;
    padding: 15px;
}

.virtual-casting-card:hover {
    box-shadow: 2px 2px 2px 2px rgb(3,3,3, 20%);
}

.virtual-casting-body {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-casting-image {
    align-content: center;
}

.main-casting-image img {
    border-radius: 8px;
}

.casting-details {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.character-card {
    width: 45%;
    text-align: center;
    margin: 0 5px;
}

.character-card img {
    width:150px;
    height:150px;
    border-radius: 8px;
}

.character-card p {
    text-align: left;
    margin-top: 4px;
    font-weight: bold;
    font-size: 1.2em;
}
