/* AppLayout.css */

.layout-container {
    display: flex;
    justify-content: space-between;
    background-color: #44A0E3;
    width: 100%;
}

.full-layout {
    min-height: 100vh;
    /*width: 1920px; !* 전체 레이아웃 너비 1920px *!*/
}


.content-style {
    width: 1180px; /* 콘텐츠 너비 1440px */
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}



